* {
  box-sizing: border-box;
}

body {
  background-color: #FFE5E9;
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 22px;
}

h1, h2 {
  margin: 50px;
  text-align: center;
    color: rgb(20,40,130);
    font-family: 'Baloo Chettan', cursive;
}

#search_container, #searchbar {
  text-align: center;
}

#search_container {
  width: 100%;
}

#searchbar {
  min-width: 250px;
  height: 30px;
  width: 400px;
  border: solid 3px lightblue;
}

#searchbar:focus {
  outline: none;
  border: solid 3px rgb(143, 186, 230);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  background: white;
}


#searchBtn, #resetBtn {
    margin-top: 25px;
    min-height: 30px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background: coral;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.1s;
  }
  
  #searchBtn:hover, #resetBtn:hover {
    background: rgb(20,40,130);
    transition: 0.15s;
  }

  #searchBtn:focus, #resetBtn:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
  }

#thumbnail-container {
  margin: 5%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flavorImgNode:hover > img {
  transform: scale(1.1);
  transition: 0.2s;
}

.flavorImgNode > img {
  max-height: 250px;
  margin: 20px 70px;
}

.flavorImgNodeHide  {
  display: none;
}

.hoverTitle {
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
  font-size: 18px;
  color: rgba(0,0,0,0);
}

.flavorImgNode:hover > .hoverTitle {
  color: rgba(20,40,130,1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  padding: 25px 50px 50px 50px;
  width: auto;
  min-width: 40%;
  height: auto;
  max-height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
}

#modalImg {
  max-height: 250px;
  margin: auto;
}

#modalText {
  font-size: 28px;
}

#modalDesc {
  font-size: 20px;
}

#modalDesc, #modalText {
  font-family: 'Baloo Chettan', cursive;
  color: rgb(20,40,130);
}

#modalCloseBtn {
  float: right;
  font-size: 2em;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

#tags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  margin-top: 40px;
}



.tagButton {
    border-radius: 29px;
    height: 58px;
    line-height: 56px;
    margin-top: 0px;
    border: 1px solid #DFE1E5;
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
    color: rgb(20,40,130);
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 46px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.tagButtonClicked {
      border-radius: 29px;
    height: 58px;
    line-height: 56px;
    margin-top: 0px;
    border: 1px solid #DFE1E5;
    background-color: rgb(20,40,130);
    border-radius: 24px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 46px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.tagButtonHide {
  display: none;
}


@media (max-width: 850px) {
  h1 {
    font-size: 2em;
    margin: 15px;
  }
  h2 {
    display: none;
  }
  #search-container {
    width: 100%;
    box-sizing: border-box;
  }
  #searchbar {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
  }
  #searchBtn {
    width: 33%;
  }
  #resetBtn {
    width: 33%;
  }
  #searchBtn, #resetBtn {
    margin-top: 20px;
    min-height: 30px;
  }
  #tags-container {
    width: 100%;
    margin-top: 20px;
  }
  .flavorImgNode > img {
    max-height: 160px;
  }
  #thumbnail-container {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
  }
  #thumbnail-container div {
    margin: 10px;
    padding: 0px;
    max-width: 50%;
    box-sizing: border-box;
  }
  #thumbnail-container div img {
    max-height: 160px;
    margin: 15px;
  }
  .hoverTitle {
    display: none;
  }

  #modalDesc {
    display: flex;
    flex-wrap: wrap;
  }
}

