body {
/*  width: 100%; */
  background-color: #FFE5E9;
}

h1 {
  font-size: 48px;
/*  padding-top: 20px;*/
}

h2 {
  font-size: 22px;
}

h1, h2 {
  margin: 50px;
  text-align: center;
    color: rgb(20,40,130);
    font-family: 'Baloo Chettan', cursive;
}

p {
    color: rgb(20,40,130);
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.4em;
}

#search_container, #searchbar {
  text-align: center;
}

#search_container {
  width: 100%;
}

#searchbar {
  min-width: 250px;
  height: 20px;
  width: 400px;
  border: solid 3px lightblue;
}

#searchbar:focus {
  outline: none;
  border: solid 3px rgb(143, 186, 230);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  background: white;
}


#searchBtn, #resetBtn {
    margin-top: 25px;
    min-height: 30px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background: coral;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.1s;
  }
  
  #searchBtn:hover, #resetBtn:hover {
    background: rgb(20,40,130);
  }

  #searchBtn:focus, #resetBtn:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
  }
  

#modalImg {
  max-height: 250px;
  margin: auto;
}

.name-hide {
  text-align: center;
  color: #FFE5E9;
  font-family: 'Baloo Chettan', cursive;
  font-size: 18px;
  opacity: 0%;
}

.name {
  text-align: center;
  color: rgb(20,40,130);
  font-family: 'Baloo Chettan', cursive;
  font-size: 18px;
}

#thumbnail-container {
  margin-top: 45px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#thumbnail-container > div > img {
/*   padding: 70px;
  padding-top: 20px;
  padding-bottom: 20px; */
  max-height: 250px;
  transition: all 0.2s;
  margin: 20px 70px;
}

#thumbnail-container > div > img:hover {
  transform: scale(1.1);
}


/*

#tags-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .tags {
    flex: 0 0 auto;
  }
}

.tags {
  display: inline-block;
  min-height: 100px;
  min-width: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  padding: 25px 50px 50px 50px;
  width: auto;
  min-width: 40%;
  height: auto;
  max-height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
}

#modalText {
  font-size: 28px;
}

#modalDesc {
  font-size: 20px;
}

#modalCloseBtn {
  float: right;
  font-size: 2em;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

@media (max-width: 850px) {
  h1 {
    font-size: 2em;
    margin: 15px;
  }
  h2 {
    font-size: 1em;
    margin: 20px;
  }
  #search-container {
    width: 100%;
    box-sizing: border-box;
  }
  #searchbar {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    background: blue;
  }
  #searchBtn, #resetBtn {
    margin-top: 20px;
    min-height: 30px;
  }
  #searchBtn {
    width: 33%;
  }
  #resetBtn {
    width: 33%;
  }
  #thumbnail-container {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
  }
  #thumbnail-container div {
    margin: 10px;
    padding: 0px;
/*    border: solid 1px black;*/
    max-width: 50%;
    box-sizing: border-box;
  }
  #thumbnail-container div img {
    max-height: 160px;
    margin: 15px;
  }
  #modalDesc {
    display: flex;
    flex-wrap: wrap;
  }
  .name, .name-hide {
    display: none;
  }
}

